/* Studio Page */
:root {
 --color-iris: #4d5ae5;
 --color-ocean: #404bbf;
 --color-navy-blue: #2e2f42;
 --color-green: #31d0aa;
 --color-slate: #434455;
 --color-light-slate: #8e8f99;
 --color-cornflower: #e7e9fc;
 --color-cloud: #f4f4fd;
 --color-grey: #2e2f42;
 --color-navy-blue-modal: #2e2f42;
 --color-white: #ffffff;
 --color-dairy: #fcfcfc;
}

  .body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate) ;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--color-white);
}

.button {
  font-family: inherit;
}

.button:hover,
.button:focus {
  background-color: var(--color-ocean);
}

.button-text {
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
}
/*
.page-content{
ЗАДАТИ СТИЛЬ

}*/

.hero-tittle {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
/* DESCRIPTION -TITTLE ПЕРЕВІРИТИ КОЛІР*/
/*ПЕРЕВІРИТИ description-title, description-text ШРИФТ НА САЙТІ МАЄ БУТИ ЖИРНІШИМ*/

.description-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-navy-blue-modal);
}

.description-text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-slate);
}

.contact-list{
  font-style: normal;
  color: var(--color-slate);
}

.list {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}

.logo-part-dark {
  color: var(--color-navy-blue);
}

.logo-part-light {
  color: var(--color-cloud);
}

.link {
  text-decoration: none;
  font-style: normal;
}

.link:hover,
.link:focus {
  color: var(--color-ocean);
}

.menu-link {
  font-weight: 500;
  color: var(--color-slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-item, .menu-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact {
 font-style: normal;
}

.contact-item {
 font-style: normal;
 font-weight: 400;
 color: var(--color-slate);
}

.hero {
  background-color: var(--color-navy-blue-modal);
}

/*.page-main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-white);
}*/

.logo-header-light {
  color: var(--color-navy-blue);
}
.modal-open-btn {
  background-color: var(--color-iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--color-white);
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border: none;
  border-radius: 4px;
}

.modal-open-btn {
  text-align: center;
}

.modal-open-btn {
  margin: 0 auto;
}

/*.hidden-title{
ПЕРЕВІРИТИ
}*/

/*.our-advantages-list {
ПЕРЕВІРИТИ
}*/

/*.advantages-list-item {
ПЕРЕВІРИТИ
}*/

/*.our-services-section {
ПЕРЕВІРИТИ
}*/

/*.our-services-list {
ПЕРЕВІРИТИ
}*/

/*.our-services-list-item {
  ПЕРЕВІРИТИ
}
*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue-modal);
}

.our-team-section {
  background-color: var(--color-cloud);
}

/*.our-team-list-item {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
--color-white: var(--color-white);
}*/

.card {
  background-color: var(--color-white);
}

.page-footer {
  background-color: var(--color-navy-blue-modal);
}

.footer-text {
  color: var(--color-cloud);
}
/* Portfolio Page */
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cloud);
}

.filter-button:hover,
.filter-button:focus {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-ocean);
}